<a href="https://colab.research.google.com/github/FoolishAmbition/Documentation/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print()

https://colab.research.google.com/drive/1o315QvA3X_n6clW_b-HPXXY1XvdMSnE2?usp=sharing

method needs to be called using the dot notation

In [ ]:
def q1():
    name, org = input("Input email address: ").split('@') # joe@suss.edu.sg
    # split gets a list ['joe', 'suss.edu.sg']
    # do list unpacking

    print(f'''Name is {name}
Organisation is {org}''')


    ##################### extra ############################
    company, _, country = org.split(".") # ['suss', 'edu', 'sg']

    print(f'''Name is {name}
Organisation is {org}
Company is {company}
Country is {country}''')

q1()

Input email address: joe@suss.edu.sg
Name is joe
Organisation is suss.edu.sg
Name is joe
Organisation is suss.edu.sg
Company is suss
Country is sg

In [ ]:
def q2():
    w1, w2 = input("Enter string: ").split() # java python
    # split by whitepaces

    print(f'Output: {w1[::-1]} {w2[::-1]}')

q2()

Enter string: java python
Output: avaj nohtyp

In [ ]:
s = input("Enter string: ")
print(s[::-1])

Enter string: java python
nohtyp avaj

In [ ]:
s = "Write a program that reads in an email address"
s[::-1]

'sserdda liame na ni sdaer taht margorp a etirW'

In [ ]:
s[::-1].split()

['sserdda', 'liame', 'na', 'ni', 'sdaer', 'taht', 'margorp', 'a', 'etirW']

In [ ]:
s[::-1].split()[::-1]

['etirW', 'a', 'margorp', 'taht', 'sdaer', 'ni', 'na', 'liame', 'sserdda']

In [ ]:
print(" ".join(s[::-1].split()[::-1]))

etirW a margorp taht sdaer ni na liame sserdda

In [ ]:
def q3():
    n1 = input('Enter the first number: ')
    n2 = input('Enter the second number: ')

    if n1 == n2:
        # checking for string equality
        # string comparison checks values at the same index to decide equality
        print('The two numbers are the same')
    else:
        print('The two numbers are not the same')

q3()

In [ ]:
'a' < "A"

False

In [ ]:
'12' < '2'

True

In [ ]:
12 < 2

False

In [ ]:
def q3():
    n1 = int(input('Enter the first number: '))
    n2 = int(input('Enter the second number: '))

    if n1 == n2:
        # checking for string equality
        print('The two numbers are the same')
    else: # nested conditional statement
        # only if not equal, then fo to the else part, and make another decision
        if n1 > n2:
            print('First number is bigger')
        else:
            print('Second number is bigger')

q3()

In [ ]:
def q3(): # 3-way selection statement
    n1 = int(input('Enter the first number: '))
    n2 = int(input('Enter the second number: '))

    if n1 == n2:
        # checking for string equality
        print('The two numbers are the same')
    elif n1 > n2:
        print('First number is bigger')
    else:
        print('Second number is bigger')

q3()

In [ ]:
def q4():
    word = input('Enter a word: ').lower()

    if word == word[::-1]:
        # string comparision is like playing pokemon cards
        print(f'{word} is a palindrome')
    else:
        print(f'{word} is not a palindrome')

q4()

Enter a word: Dad
dad is a palindrome

In [ ]:
mark = 48
print("Fail" if mark < 50 else "Pass") # note: NO colon

'Fail'

In [ ]:
def q4():
    word = input('Enter a word: ').lower()

    # string comparision is like playing pokemon cards
    print(f'{word} is {"not " if word != word[::-1] else ""}a palindrome')

q4()

Enter a word: dad
dad is a palindrome

In [ ]:
def lab1q4():
    # read the number of seconds
    n = int(input("Enter time duration in seconds: "))

    # extract h, m, s
    h = n // 3600 # 3600 seconds is 1 hour
    m = n % 3600 // 60  # n // 60 % 60
    s = n % 60

    # print sum and product
    print(f'{n} seconds is {h} hour{"s" if h > 1 else ""}, '\
     +f'{m} minute{"s" if m > 1 else ""} and {s} second{"s" if s > 1 else ""}')

lab1q4()

Enter time duration in seconds: 7202
7202 seconds is 2 hours, 0 minute and 2 seconds

In [ ]:
word = 'dada'
"not" if word != word[::-1] else ""

'not'

In [ ]:
import math
def q5():
    usage = float(input("Amount of data used (GB): ")) #1.5
    if usage <= 2:
        cost = 5
    else:
        cost = 5 + math.ceil((usage - 2) * 10)

    print(f'Charge is ${cost:.2f}')

q5()

Amount of data used (GB): 1.5
Charge is $5.00

In [ ]:
import math
def q5():
    usage = float(input("Amount of data used (GB): ")) #1.5
    cost = 5 if usage <= 2 else 5 + math.ceil((usage - 2) * 10)

    print(f'Charge is ${cost:.2f}')

q5()

Amount of data used (GB): 2.54
Charge is $11.00

In [ ]:
import math
def q8():
    usage = float(input("Amount of data used (GB): ")) #1.5
    if usage < 0:
        print('Invalid usage data')
    else: # valid usage data
        if usage <= 2:
            cost = 5
        elif usage <= 4:
            cost = 5 + math.ceil((usage - 2) * 10)
        else:
            cost = 25
        print(f'Charge is ${cost:.2f}')

q8()

Amount of data used (GB): 3
Charge is $15.00

In [ ]:
def q8():
    usage = float(input("Amount of data used (GB): ")) #1.5
    if usage < 0:
        print('Invalid usage data')
    else: # valid usage data
        if usage > 4:
            cost = 25
        elif usage > 2:
            cost = 5 + math.ceil((usage - 2) * 10)
        else:
            cost = 5

        print(f'Charge is ${cost:.2f}')

q8()

In [ ]:
def q8():
    usage = float(input("Amount of data used (GB): ")) #1.5
    if usage < 0:
        print('Invalid usage data')
    else: # valid usage data
        cost = 25 if usage > 4 \
        else 5 + math.ceil((usage - 2) * 10) if usage > 2 \
        else 5

        print(f'Charge is ${cost:.2f}')

q8()

Amount of data used (GB): 2
Charge is $5.00

In [ ]:
def q6():
    n1, n2 = input('Enter 2 numbers separated by ,: ').split(",")
    n1, n2 = int(n1), int(n2)

    # n1, n2 = map(int, input('Enter 2 numbers separated by ,: ').split(","))

    if n1 % 2 == 0 and n2 % 2 == 0:
        print('Both even')
    elif n1 % 2 and n2 % 2: # n1 % 2 != 0 and n2 % 2 != 0:
        # non-zero numbers are True
        print('Both odd')
    else:
        print('One even and one odd')

In [ ]:

def q7():
    nric = input("Enter NRIC: ") #S1234567A

    if
        invalid
    else
        if
            invalid
        else

In [ ]:
def q7():
    nric = input("Enter NRIC: ") #S1234567A

    if len(nric) != 9:
        print('Length must be exactly 9')
    elif nric[0].upper() not in "STFG":
        print('The first letter must be S, T, F or G')
    elif not nric[1:-1].isdigit():
        print('Must consist of 7 digits')
    elif not nric[-1].isalpha():
        print('Reference letter must be A to Z or a to z')
    else:
        print('Valid NRIC')

In [ ]:
def q9():
    op1, op, op2 = input('Enter arithmetic expression: ').split() # 23.6 + 33.2
    op1, op2 = float(op1), float(op2)
    # list unpacking ['23.6', '+', '33.2']

    # aList = input('Enter arithmetic expression: ').split() # 23.6 + 33.2
    # # list  ['23.6', '+', '33.2']
    # # op1, op, op1 = float(aList[0]), aList[1], float(aList[2])
    # aList[0], aList[1], aList[2] = float(aList[0]), aList[1], float(aList[2])
    # # list  [23.6, '+', 33.2]

    if op not in '+-/*': # in checks whether op is a member of a str collection '+-/*'
        # in checks whether op is a member of a tuple collection ('+', '-', '/', '*', '//')
        # in checks whether op is a member of a list collection ['+', '-', '/', '*']
        print('Invalid arithmetic operator')

    else: # op in '+-/*
        if op == '+':
            result = op1 + op2
        elif op == '-':
            result = op1 - op2
        elif op == '*':
            result = op1 * op2
        else:
            result = op1 / op2

        print(f'Result: {result}')

q9()

Enter arithmetic expression: 23.6 + 33.2
Result: 56.800000000000004

In [ ]:
input('Enter arithmetic expression: ').split()

Enter arithmetic expression: 23.6 + 33.2

['23.6', '+', '33.2']